{% extends "base.html" %}

{% block head %}
    <style>
        .key {
            font-size: 1.5em;
            font-weight: bold;
        }

        input {
            font-size: 1.2em;
            border: 1px solid black;
            text-align: center;
        }

        input::-webkit-inner-spin-button {
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
        }

        .info {
            display: flex;
            flex-direction: row;
            align-items: center;

            font-size: 1.2em;
        }

        .info span {
            padding-left: 4px;
        }

        button {
            font-size: 1.2em;
            padding: 2px;
        }
    </style>

    <script>
        var inputPoint = document.querySelector("input#point");

        function onInputPoint(e) {
            if (e.value > {{ point }}) {
                alert("보유 포인트보다 많은 포인트를 선물할 수 없습니다.");
                e.value = {{ point }};
            }
        }
    </script>
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block subtitle %}
    {{ title }}
{% endblock %}

{% set member=request.state.login_member %}

{% block content %}
    <form action="{{action_url}}" method="post" style="display: flex; flex-direction: column; width: fit-content;" >
        <div class="key">선물받을 아이디</div>
        <input required type="text" name="receiver_id" placeholder="아이디">
        </br>
        <div class="key">선물할 포인트</div>
        <input required type="number" id="point" name="point" placeholder="포인트" min=0 max={{ point }} onInput=onInputPoint(this)>
        </br>
        <div class="info">
            <h2>보유 포인트: </h2>
            <span>{{ point|number_format }} 포인트</span>
        </div>

        <button type="submit">선물하기</button>
    </form>
{% endblock %}