{% extends "base.html" %}

{% block head %}
    <style>
        .point_form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .point_form > .title {
            font-size: 1.5rem;
            font-weight: bold;
        }

        .point_form > .subtitle {
            font-size: 1rem;
            text-align: center;
            color: gray;

            margin-top: 0.6rem;
        }

        .point_form > .input_container {
            display: flex;
            flex-direction: column;
            
            padding: 1.2em 8em;
        }

        .point_form > .input_container > * {
            font-size: 1.2em;
            text-align: center;
            
            padding: 0.5em 2em;
        }

        .point_form > .input_container > input {
            background: transparent;
            border-radius: 7px;
            
            filter: drop-shadow(0px 1px 0px #efefef)
            transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
        }

        .point_form > .input_container > input:first-child {
            margin-bottom: 0.4em;
        }

        .point_form > .input_container > input::-webkit-inner-spin-button {
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
        }

        .point_form > .input_container > button {
            width: 100%;

            border: 0px;
            border-radius: 7px;
            
            padding: 0.7em;
            margin-top: 1em;
            
            color: white;
        }

        :root[color-theme="light"]  {
            .point_form > .input_container > input {
                color: black;
                border: 1px solid #e5ecee;
            }

            .point_form > .input_container > button {
                background: #212121;
            }
        }

        :root[color-theme="dark"]  {
            .point_form > .input_container > input {
                color: #efefef;
                border: 1px solid #383838;
            }

            .point_form > .input_container > button {
                background: #383838;
            }
        }
    </style>

    <script>
        var inputPoint = document.querySelector("input#point");

        function onInputPoint(e) {
            if (e.value > {{ point }}) {
                alert("보유 포인트보다 많은 포인트를 선물할 수 없습니다.");
                e.value = {{ point }};
            }
        }
    </script>
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block subtitle %}
    {{ title }}
{% endblock %}

{% set member=request.state.login_member %}

{% block content %}
    <form class="point_form" action="{{action_url}}" method="post" >
        <div class="title">포인트 선물하기</div>
        <span class="subtitle">원하는 상대에게 포인트를 선물해보세요!<br>선물 취소는 불가능하니 유의하여 선물해주세요.</span>

        <div class="input_container">
            <input required type="text" name="receiver_id" placeholder="상대방 아이디">
            <input required type="number" name="point" placeholder="선물할 포인트" min=0 max={{ point }} onInput=onInputPoint(this)>
            <button type="submit">선물하기</button>
        </div>
    </form>
{% endblock %}